body {
    margin: 0;
}

.page-content {
    padding: 0 5em;
    font-family: 'Source Sans Pro', Arial, sans-serif;;
}

h1 {
    color: bisque;
}

.main-icon {
    width: 50px;
}

.title-container {
    display: flex;
}

.home-liked-container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    color: black;
    display: flex;
    justify-content: flex-end;
    font-weight: 150;
    font-size: 1vw;
    /* top: 7vh;
    left: -8vw; */
    cursor: pointer;
}

.home-container::after {
    content: "";
    width: 0%;
    height: 3px;
    background-color: #01b4e4;
    display: block;
    transition: width 0.5s;
    margin-top: 5px;
}


.home-container:hover::after {
    width: 100%;
}

.home-line {
    border: #01b4e4 1px;
}

.prev-next {
    display: flex;
   gap:50px;
    justify-content: center;
    
}

button {
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;   
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #01b4e4;
    border: none;
    border-radius: 15px;
}

.page-count-container {
    display: flex;
    margin: 0;
    height: 30px;
    text-align: center;
}

.page-count-container p {
    margin: 0;
    color: #01b4e4;
}

button:hover {background-color:#01b4e4}

button:active {
  background-color:#01b4e4;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.movie-data {
    height: 95%;
    width: 80%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
}

.movie-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    margin: 20px;
}



.poster {
    width: 100%;
    height: 80%;
}

.movie-name {
    text-align: center;
    font-size: 15px;
    margin:5px 0 0 0;
}

.movie-vote {
    display: flex;
    justify-content: space-between;
    margin: 20px 20px 5px 20px;
    
}

.vote {
    display: flex;
    gap: 10px;
}

.star-icon {
    color: orange;
}

.vote-score {
    font-size: 20px;
    margin: 0;
}

.heart-icon {
    
}

.close-icon {
    width: 20px;
    height: 20px;
}




.detail-box {
    position: fixed;
   background-color:rgba(0, 0, 0, 0.5);
    
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.detail-card {
    display: flex;
    width: 60vw;
    height: 80vh;
    background-color: white;
}

.detail-content {
    display: flex;
}

.detail-poster {
    width: 200px;
    height: 350px;
}

h3 {
    font-size: 20px;
}

h5 {
    font-size: 15px;
}

.detail-description {
    height: 500px;
}

.detail-description p {
    font-size: 10px;

}

.company-logo {
    width: 20px;
}

